body,
a {
  font-family: 'Orbitron', sans-serif;
  background-color: black;
  color: white;
}

header {
  padding: 10px;
  display: flex;
  justify-content: center;
}

header h1 {
  position: absolute;
  font-size: 40px;
}

header img {
  width: 150px;
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.nav li {
  border-radius: 90px/30px;
  list-style-type: none;
  margin: 0 20px;
  border: solid 5px #fff;
  padding: 10px;
  font-size: 20px;
}

main {
  display: flex;
  flex-direction: column;
}

main div {
  align-self: center;
}

article {
  border: 10px solid #fff;
  border-radius: 90px/30px;
  width: 600px;
  height: 400px;
  align-self: center;
}

footer {
  text-align: center;
}