body,
a {
  font-family: 'Orbitron', sans-serif;
  background-color: black;
  color: white;
}


/******* Header *******/
header {
  padding: 10px;
  display: flex;
  justify-content: center;
}

header h1 {
  position: absolute;
  font-size: 40px;
}

header img {
  width: 150px;
}
/*********************/

/******* Nav *******/
nav ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.nav li {
  border-radius: 90px/30px;
  list-style-type: none;
  margin: 0 20px;
  border: solid 5px #fff;
  padding: 10px;
  font-size: 20px;
}

.nav li:hover {
  cursor: pointer;
  color: black;
  background-color: #ffbf00e5;
}
/*********************/

/******* Main home *******/
.home {
  display: flex;
  flex-direction: column;
}

.home div {
  align-self: center;
}

.home article {
  border: 10px solid #fff;
  border-radius: 90px/30px;
  width: 600px;
  height: 400px;
  align-self: center;
}
/*********************/

/******* Footer *******/
footer {
  text-align: center;
}
/*********************/


/******* Main Contact *******/
.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact p {
  width: 50%;
  text-align: center;
}

.contact fieldset {
  display: flex;
  flex-direction: column;
  width: 100%;
}

[type="submit"] {
  font-family: 'Orbitron';
}
/*some how use flexbox on these items*/
#name {
  margin-left: 12%;
}
#email {
  margin-left: 13%;
}
#subject {
  margin-left: 7%;
}
#message {
  margin-left: 2%;
  height: 15px;
}

/*************************/